#topInfo{
    display: flex;
    align-items: center;

}
#collectionToggle{
    margin-left: 10px ;
    width: 22px;
    height: 22px;
    transition:all .2s ease-in-out
}
#collectionToggle:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
#collectionToggle:focus{
    outline: none;
    
}
#collectionToggle:active {
    outline: none;
    transform: translateY(2px);
  }



#titleText{
    font-family: 'Passion One';
font-style: normal;
font-weight: 400;
font-size: calc(1.1vw + 1.1em);
line-height: 55px;


color: #3E3A39;

}
#quickInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.quickInfoIcon{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.quickInfoText{
    font-family: 'Passion One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
margin-left: 5px;
color: #3E3A39;
white-space: nowrap; 
}
.quickInfoSubBox{
    align-items: center;
    display: flex;
}
#mainInfo{

margin-top: 30px;
}
#mainInfoText {
    overflow-y: scroll;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #4D4F4E;
width: 100%;
height: 250px;
}

#mainInfoText::-webkit-scrollbar,
#mainInfoText::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

#mainInfoText::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
#buttonBox{
    font-family: 'Passion One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
    margin: 30px;
    display: flex;
    justify-content: space-between;

}
.btn-dark{
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    --bs-btn-bg: #3D3A39;
}
.button1{
    transition: all .2s ease-in-out;
    width: 218px;
    height: 48px;
    border-radius: 8px;
}
.button1:focus, .button2:focus {
    outline: none;
  /* box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset; */
}

.button1:hover, .button2:hover {
    outline: none;
  /* box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset; */
  transform: translateY(-2px);
}

.button1:active, .button2:active {
    outline: none;
  /* box-shadow: #D6D6E7 0 3px 7px inset; */
  transform: translateY(2px);
}
.button2{
    transition: all .2s ease-in-out;
    width: 247px;
    height: 48px;
    border-radius: 8px;
}

