.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.collectionBox {
  display: flex;
  flex-direction: row;
}
.collectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 50px;
}

.collectionImage {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.boardGameImage {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.boardGameImage:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 0px #3e3a39;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.collectionText{
    margin-top: 20px;
    margin-bottom: 30px;
}
#collectionTextStyle {
  color: #3d3a39;
  text-align: center;
  text-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  font-family: Passion One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
#collectionTextStyle:hover {
  text-decoration: underline;
  font-size: 41px;
}
.profilePic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #b22a2f;
  transition: all 0.5s ease-in-out;
  color: #fff;
  text-align: center;
  font-family: Passion One;
  font-size: 80.87px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileName {
  color: #3d3a39;
  text-align: center;
  text-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  font-family: Passion One;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}
.profileEmail {
  color: #4d4f4e;
  text-align: center;
  text-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
