.rank{
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1.1vw + 1.1em);
    color: #3E3A39;
    margin-top: 5px;
}
.hotGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in-out;
    /* background-color: blue; */
    height: 350px;
    width: 300px;
    overflow: hidden;
    position: relative;
}
.hotGamesView{
    height: 500px;
}
.hotGame:hover{
    
    cursor: pointer;
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.react-multi-carousel-list{
    height: 100%;
}
.carousel-item2{
    display: flex;
    justify-content: center;
}
.retryButton{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
}
.retryImage{
    height: 100%;
    width: 100%;
}
.retryButton:hover{
    cursor: pointer;
    animation: spin 1s linear infinite;
}
.retryButton:focus{
    outline: none;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#errorButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}
@media screen and (max-width: 1600px){
    .hotGame{
        width: 250px;
    }
    
}
@media screen and (max-width: 1500px){
    .hotGame{
        width: 200px;
    }
    
}
