.header {

  display: flex;
  justify-content: space-between;
  height: 80px;
}

.title {
    text-decoration: none;
  display: flex;
  margin: 25px;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #b22a2f;
  align-items: center;
  transition: all 0.2s ;
}

.login {
  text-decoration: none;
  display: flex;
  margin: 25px 25px 25px 25px;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #b22a2f;
  align-items: center;
  transition: all 0.1s ;
}
.login:hover {
  color: #b22a2fd5;
  /* scale: 1.1; */
}
.title:hover {
  color: #b22a2fd5;
  /* scale: 1.1; */
}
#rightSideHead{
  display: flex;
}

@media screen and (max-width:1200px){
  .title {
    font-size: 25px;
  }
  .login {
    font-size: 15px;
  }
  .header{
    height: 60px;
  }
}
@media screen and (max-width:600px){
  .title {
    font-size: 20px;
    margin: 20px;
  }
  .login {
    font-size: 18px;
    margin: 20px;
  }
  .header{
    height: 50px;
  }
}@media screen and (max-width:500px){
  .title {
    font-size: 18px;
    margin: 15px;
  }
  .login {
    font-size: 14px;
    margin: 15px;
  }
  .header{
    height: 40px;
  }
}
@media screen and (max-width:400px){
  .title {
    font-size: 14px;
  }
  .login {
    font-size: 14px;
  }
  .header{
    height: 40px;
  }
}