.header {

  display: flex;
  justify-content: space-between;
  height: 80px;
}

.title {
    text-decoration: none;
  display: flex;
  margin: 25px;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #b22a2f;
  align-items: center;
  transition: all 0.2s ;
}

.login {
  text-decoration: none;
  display: flex;
  margin: 25px 25px 25px 25px;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #b22a2f;
  align-items: center;
  transition: all 0.1s ;
}
.login:hover {
  color: #b22a2fd5;
  /* scale: 1.1; */
}
.title:hover {
  color: #b22a2fd5;
  /* scale: 1.1; */
}
#rightSideHead{
  display: flex;
}
